.form-background {
  background-color: #eef3f8 !important;
  color: #5f6163 !important;
}

.nav-options {
  font-size: 13px;
  margin-right: 18px;
}

@media (max-width: 992px) {
  /* .nav-text {
    display: none;
  } */
}

.user-image {
  border-radius: 50%;
  width: 35px;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar {
  padding: 0;
}

.linked-in-nav-icon {
  filter: invert(23%) sepia(72%) saturate(2403%) hue-rotate(203deg)
    brightness(102%) contrast(75%);
}

.footer-text {
  font-size: 10px;
  text-align: left;
  padding: 0;
}

.footer-text li {
  list-style: none;
  text-align: left;
}

.li-logo-container {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 20px;
}

.li-logo {
  max-width: 100px;
  max-height: 100px;
}

.friend-button {
  background-color: green;
  font-size: 10px;
  border-radius: 20px;
}
