body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f2ef;
}

.main {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 2px 1px #cacaca;
}

.main-exp {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 2px 1px #cacaca;
}

.profile-container {
  min-width: 1600px;
}

.main-about {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 2px 1px #cacaca;
}

.img-area {
  width: 100%;
  height: 200px;
  background-image: url("https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg");
  background-size: cover;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.profile-icon {
  position: absolute;
  z-index: 1;
}

.profile-icon img {
  width: 180px;
  height: 180px;
  border: 5px solid white;
}

.card {
  border: none;
}

.profile-info-area {
  padding-block: 10px;
}

.button-area button {
  border-radius: 50px;
  font-weight: 500;
  margin-inline: 3px;
}

.btn-outline-primar {
  background-color: white;
}

.btn-outline-primary:hover {
  background-color: rgba(112, 181, 249, 0.2);
  color: #007bff;
  border: 2.4px solid #007bff;
}

a.profile-text {
  color: #777777 !important;
}

a.profile-text:hover {
  color: #3b3b3b !important;
  text-decoration: none;
}
.artdeco-button--muted.artdeco-button--secondary:hover {
  background-color: rgba(80, 80, 80, 0.08);
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.08);
}

.camera-btn {
  position: absolute;
  top: 20px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  color: #007bff;
}

.edit-main {
  position: absolute;
  right: 0;
}

.pencil-icon {
  font-size: 25px;
  margin-left: auto;
}

.btn-outline-light {
  color: #777777;
  border-color: white;
}

.active .btn-outline-light:hover {
  background-color: transparent;
  color: #007bff;
  border-color: white;
}

.see-more-btn {
  position: absolute;
  right: 0;
}

.sidebar1 {
  margin-top: 8px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px #cacaca;
}
.edit-area .card {
  margin-top: 8px;
  height: 170px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px #cacaca;
}

.side-pro-icon {
  width: 50px;
  height: 50px;
}

.sidebar1 .card-body {
  padding: 0;
  font-size: 18px;
}
.sidebar1 hr.line-1 {
  margin-inline: 20px;
}

.card .side-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-outline-secondary.connect-btn {
  border-radius: 50px;
}

.btn-outline-secondary.connect-btn:hover {
  border-radius: 50px;
  background-color: #ebebeb;
}

.sidebar1 hr.line-2 {
  margin-bottom: 0;
}

.btn-outline-secondary.show-btn {
  border: none;
}

.btn-outline-secondary.show-btn:hover {
  border: none;
  background-color: #ebebeb;
  color: black;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
}

.exp-img {
  width: 100px;
}

/* Side feed bar css */

/* start post css here */

.outer-p-feed {
  height: 150px;
  border-radius: 15px;
}

.user-p-image {
  width: 50px;
  border-radius: 100%;
}

/* small devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 500px) {
  .profile-icon img {
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 160px;
    border: 5px solid white;
  }

  .profile-container {
    min-width: unset;
  }

  .main-about {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 2px 1px #cacaca;
  }
  /* .footer-text {
    display: flex;
    justify-content: space-around;
  } */

  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 225px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
    object-fit: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .profile-icon img {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 50px;
    border: 5px solid white;
  }
  .sidebar1 {
    margin-top: 8px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 2px 1px #cacaca;
    display: flex;
    flex-direction: column;
  }

  .card .side-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-outline-secondary.connect-btn {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
  }

  .profile-container {
    min-width: unset;
  }
}

@media only screen and (min-width: 0px) {
  .profile-container {
    min-width: unset;
  }
  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 285px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
  }
}

@media only screen and (min-width: 991px) {
  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 60px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
  }
}
@media only screen and (max-width: 991px) {
  .sidebar1 {
    display: none;
  }
  .edit-area {
    display: none;
  }
  .nav-padding {
    padding: 5px !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .profile-icon img {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 50px;
    border: 5px solid white;
  }
  .card .side-card {
    display: flex;
    flex-direction: row;
  }
  .card .side-card img {
    display: flex;
    align-self: flex-start;
  }
  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 80px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
  }
}
@media only screen and (max-width: 1300px) {
  .sidebar1 {
    display: none;
  }
}
@media only screen and (min-width: 1600px) {
  .profile-icon img {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 50px;
    border: 5px solid white;
  }
  .card .side-card {
    display: flex;
    flex-direction: row;
  }
  .card .side-card img {
    display: flex;
    align-self: flex-start;
  }
  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 80px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
  }
}

@media only screen and (min-width: 1900px) {
  .profile-icon img {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 50px;
    border: 5px solid white;
  }
  .card .side-card {
    display: flex;
    flex-direction: row;
  }
  .card .side-card img {
    display: flex;
    align-self: flex-start;
  }

  .profile-icon-feed {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 80px;
  }

  .profile-icon-feed img {
    width: 95px;
    height: 95px;
    border: 2px solid white;
  }
}

.grey-text {
  color: #a4a4a4;
}

/*
Posts Css Below Here
*/

.posts {
  border-radius: 15px;
  box-shadow: 0 0 2px 1px #cacaca;
  margin-bottom: 10px;
}

.post-user-title {
  color: grey;
  font-weight: lighter;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.start-post {
  border-radius: 15px;
  box-shadow: 0 0 2px 1px #cacaca;
  margin-top: 50px;
}

.linked-in-news {
  border-radius: 15px;
  box-shadow: 0 0 2px 1px #cacaca;
  margin-top: 50px;
}

.linked-in-news {
  padding-top: 15px;
}

.text-button-start {
  color: #a6a6a6;
  font-weight: 500;
  padding-left: 17px;
}

.start-a-post-button {
  background-color: white;
}
.start-a-post-button:hover {
  background-color: #ebebeb;
}

.start-a-post-button:active {
  background-color: #ebebeb !important;
}

.start-a-post-button:focus {
  background-color: #ebebeb;
}

#start-a-post-lower {
  margin-bottom: 15px;
}

.post-modal {
  width: 60%;
}

.post-area {
  border: none;
}
.form-control.post-area:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
}

.icon-posts {
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon-posts:hover {
  border-radius: 100%;
  background-color: #e6e6e6a4;
}

.img-icon-btn {
  color: #495057;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 100%;
}

.img-icon-btn:hover {
  color: #495057;
  background-color: #e6e6e6a4;
  border: none;
  border-radius: 100%;
}

.img-icon-btn:active {
  color: #495057;
  background-color: #e6e6e6a4;
  border: none;
  border-radius: 100%;
}

.img-icon-btn:focus {
  color: #495057;
  background-color: #e6e6e6a4;
  border: none;
  border-radius: 100%;
}

/* Upload image css from feed */

.start-a-picture-button {
  background-color: white;
  color: #3b3b3b;
  border: none;
}

.start-a-picture-button:hover {
  background-color: #ffffff;
  color: #007bff;
}

.start-a-picture-button:active {
  background-color: #ffffff !important;
  border: none;
}

.start-a-picture-button:focus {
  background-color: #ebebeb;
  border: none;
}

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.share-a-img-btn {
  background-color: white;
  color: #0154ad;
  font-weight: 500;
  border: none;
}

.share-a-img-btn:hover {
  background-color: #cae3fd8f;
  color: #0154ad;
  font-weight: 500;
  border: none;
}

.share-a-img-btn:active {
  background-color: #cae3fd8f;
  color: #0154ad;
  font-weight: 500;
  border: none;
}

.share-a-img-btn:focus {
  background-color: #cae3fd8f;
  color: #0154ad;
  font-weight: 500;
  border: none;
}

.cancel-img-btn {
  background-color: white;
  color: #0154ad;
  border-radius: 50px;
  padding-block: 4px;
  font-weight: 500;
}

.cancel-img-btn:hover {
  background-color: #cae3fd8f;
  color: #0154ad;
  border-radius: 50px;
  padding-block: 4px;
  border: 1.5px solid;
  font-weight: 500;
}

.cancel-img-btn:active {
  background-color: #cae3fd8f;
  color: #0154ad;
  border-radius: 50px;
  padding-block: 4px;
  border: 1.5px solid;
  font-weight: 500;
}

.cancel-img-btn:focus {
  background-color: #cae3fd8f;
  color: #0154ad;
  border-radius: 50px;
  padding-block: 4px;
  border: 1.5px solid;
  font-weight: 500;
}

.upload-img-btn {
  background-color: #e6e6e6a4;
  color: #9b8f8f;
  font-weight: 500;
  padding-block: 4px;
  border-radius: 50px;
  border: solid #e6e6e6a4;
}

/* left-side bar css */

.profile-icon-feed {
  position: absolute;
  z-index: 1;
  top: 45px;
}

.profile-icon-feed img {
  width: 95px;
  height: 95px;
  border: 2px solid white;
}

.img-area-feed {
  width: 100%;
  height: 95px;
  background-image: url("https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg");
  background-size: cover;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.my-items-area:hover {
  background-color: #c4beb89a;
  cursor: pointer;
}

.comment-icon {
  cursor: pointer;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 5px;
}
.comment-icon:hover {
  background-color: #ebebeb;
}

.pencil-post {
  position: absolute;
  right: 10px;
  top: 10px;
}

.secondary-nav {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 100;
  transition: 0.3s ease-in-out;
}

.secondary-nav.show-nav {
  top: 55px;
}

.home-text a:hover {
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-color: transparent;
}
.home-text {
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-color: transparent;
}

.user-image {
  width: 32px;
  height:32px;
  border-radius: 50%!important;
  object-fit: cover;
}

.post-image-changes {
  height: 300px;
  object-fit: cover;
}

/* Bottom messenger css */

.bottomMessenger {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 250px;
  z-index: 10;
}

.bottomMessenger .card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 2px 1px #cacaca;
}

.user-image-messenger {
  width: 30px;
  border-radius: 100%;
}

@media only screen and (max-width: 500px) {
  .secondNav {
    display: none !important;
  }
}

.zindex {
  z-index: 0;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.comment-box {
  background-color: #f2f2f2;
  width: 95%;
  padding-left: 20px;
  border-radius: 0 8px 8px 8px;
  margin-top: 15px;
  padding-top: 10px;
}

.liked {
  color: #468fe7;
  filter: invert(45%) sepia(77%) saturate(470%) hue-rotate(173deg)
    brightness(102%) contrast(89%);
}

.comment-user-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 2px;
}

.comment-user-title {
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
}

.comment-text {
  font-size: 14px;
  line-height: 18px;
}

.avatar-comment {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
